<header>
    <div class="row-container">
        <div class="row">
            <img src="images/gotclocked_logo.png" alt="">
            <p class="tag-line">Calculate the cost of your meetings</p>
        </div>
    </div>
</header>

<div class="row-container">

    <div class="row sent" data-ng-show="emailSent">
        <p>Email sent... whoopi</p>

        <img src="images/ic_thumbs.png" alt="">

            <div class="paused-controls clearfix">
                <button class="reset-timer" data-ng-click="resetMeeting()">Reset</button>
            </div>
    </div>

    <div data-ng-hide="emailSent">

        <div class="row" data-ng-hide="emailClicked">

            <p data-ng-hide="meetingStarted">Who's getting clocked?</p>
            <p data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped || timedMessage }">Budget's getting clocked</p>
            <p data-ng-show="stopped" data-ng-class="{'stopped' : timedMessage }">Clock'n has been paused</p>
            <p class="timed-message">{{timedMessage}}</p>

            <img data-ng-hide="meetingStarted" class="people-icon" src="images/ic_people.png" alt="">

            <ul class="entries clearfix" data-ng-hide="meetingStarted">
                <li data-ng-repeat="entry in entries" data-ng-click="removeRate(entry)">
                    {{entry.rate}}
                </li>
            </ul>

            <img data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped }"  class="money-top-icon" src="images/ic_money_on.png" alt="">
            <img data-ng-show="stopped" class="money-top-icon" src="images/ic_money.png" alt="">

            <div class="dollar-counter" data-ng-show="meetingStarted">
                <div id="count-container" data-ng-class="{'stopped' : stopped }">
                    0
                </div>
                <span>Money Spent</span>
            </div>
        </div>

        <div class="row email" data-ng-show="emailClicked">
            <p>Email to someone who cares</p>

            <img class="email-icon" src="images/ic_mail.png" alt="email icon">

            <div class="money-spent">
                <span>{{moneySpent}}</span>
            </div>

            <div class="time-elapsed">
                <span>{{elapsedTime}}</span>
            </div>

            <form id="email-form" class="clearfix" data-ng-submit="sendEmail(email)" autocomplete="off">
                <div class="form-wrapper">
                    <span data-ng-click="emailClicked = false"></span>
                    <input type="email" data-ng-model="email" id="email" name="email" placeholder="Enter Recipient Email" required>

                    <button type="submit">Send</button>
                </div>
            </form>

        </div>

        <div class="row">

            <div data-ng-hide="emailClicked">
                <img data-ng-show="meetingStarted" data-ng-class="{'stopped' : stopped }"  class="time-icon" src="images/ic_clock.png" alt="">
                <img data-ng-show="stopped" class="time-icon" src="images/ic_clock_pause.png" alt="clock paused icon">

                <div class="time-wrapper" data-ng-show="meetingStarted">
                    <div id="elapsed-time" data-ng-class="{'stopped' : stopped }">00:00:00</div>
                    <span>Elapsed Time</span>
                </div>
            </div>

            <form id="rate-form" data-ng-hide="meetingStarted" name="rateform" data-ng-submit="addRate(rate)">
                <img class="money-icon" src="images/ic_money.png" alt="">
                <input type="number" name="rate" id="rate" data-ng-model="rate" placeholder="    Enter an Hourly Rate">
                <button class="add-btn" type="submit" data-ng-class="{'disabled' : rate === undefined || rate === null}" data-ng-disabled="rate === undefined || rate === null">Add</button>
                <span>Per hr</span>
            </form>

            <button class="start-timer" data-ng-hide="meetingStarted" data-ng-click="startMeeting()" data-ng-class="{'disabled' : !entries.length }" data-ng-disabled="!entries.length">Start</button>
            <button class="stop-timer" data-ng-class="{'stopped' : stopped }" data-ng-show="meetingStarted" data-ng-click="stopMeeting();">Stop</button>

            <div class="paused-controls clearfix">
                <button class="start-timer-resume" data-ng-show="stopped" data-ng-click="resumeMeeting()">Resume</button>
                <button class="email-time" data-ng-show="stopped" data-ng-class="{'stopped' : emailClicked }" data-ng-click="showEmailForm()">Email</button>
                <button class="reset-timer" data-ng-show="stopped" data-ng-click="resetMeeting()">Reset</button>
            </div>
        </div>
    </div>
</div>
<span class="vokal-tag">Built by <a href="http://vokalinteractive.com/" target="_blank">Vokal Interactive</a> Hack Days</span>



